

* {
    margin: 0;
    padding: 0;
    list-style-type: none;

   
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

body{
    min-width: 320px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

.header {
    background-image: url("../img/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header::after {
    content: "";
    background-color: #1c1f40;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
  }

 .header_content{
    position: relative;
    z-index: 1;
  }

.logosvg{
  display: flex;
}

.header_logo{
  width: 132px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 21px;
}

.header_title{
  color: #ffffff;
  margin-top: 135px;
  font-size: 28px;
  display: block;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 87px;
}

.header_title_line1{
  margin-left: 18px;
}

.header_title_line2{
  margin-left: 64px;
  display: block; 
  }

  .buttons{
    display: block;
    
  }

  .texts_style{
    display: flex;
    flex-direction: column;
  }

  .button_apple, .button_android{
    display: flex;
    border-radius: 30px;
    padding: 8px 0;
    background-color: #5e42b0;
    align-items: center;
    justify-content: center;
    }

    .button_apple {
      margin-bottom: 14px;
    }

  .button_apple_svg, .button_android_svg{
    width: 24px;
    fill: white;
  }

 .button_android_svg{
   margin-left: -15px;
 }

  .text_style_regular, .text_style_bold{
    color: white;
  }

 .text_style_regular{
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  text-transform: uppercase;
  font-size: 8px;
  text-align: left;

  }

  .text_style_bold{
    font-family: "Open Sans", Arial, sans-serif; 
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    font-size: 8px;
  }

.title_section_line_head{
  font-size: 50px;
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 245px;
  margin-left: 20px;

}

.title_section_line_head1, .title_section_line_head2, .title_section_line_head3{
  color: #c1c1c1;
  font-size: 23px;
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 46px;
  margin-bottom: 25px;
}

.title_section_block1_line{
  background-color: #fafafa;
  
}

.title_section_block2_line{
  background-color: #f5f4f9;
  
}

.title_section_block3_line{
  background-color: #5e42b0;
  
}

.title_section_block1_line, .title_section_block2_line, .title_section_block3_line{
  padding-top: 75px;
}

.section_line_p1, .section_line_p2{
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  font-size: 15px;
  color: black;
  padding-bottom: 56px;
  margin-left: 20px;
}

.section_line_p3{
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  font-size: 15px;
  color: white;
  padding-bottom: 56px;
  margin-left: 20px;
}

.title_section_line_head1::before{
  content: '01';
  font-size: 15px;
  color: black;
}

.title_section_line_head1::after{
  content: '';
  border-bottom: 4px solid #5e42b0;
}


  

