
html {
   font-size: 62.5%
} 

* {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

body{
    min-width: 320px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  display: block  /* исправляю отступы у img*/
}

.header {
    background-image: url("../img/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-color: #000000;
    width: 100%;
    
   
   
  }
  
  .header::after {
    content: "";
    background-color: #1c1f40;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
  }

 .header_content{
    position: relative;
    z-index: 1;
  }

.logosvg{
  display: flex;
}

.header_logo{
  width: 132px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 21px;
}

.header_title{
  color: #ffffff;
  margin-top: 135px;
  font-size: 2.8rem;
  display: block;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 87px;
}

.header_title_line1{
  margin-left: 18px;
}

.header_title_line2{
  margin-left: 64px;
  display: block; 
  }

  .buttons{
    display: block;
    margin-left:20px;
    margin-right: 20px;
    
  }

  .texts_style{
    display: flex;
    flex-direction: column;
  }

  .button_apple, .button_android , .footer_button_apple, .footer_button_android{
    display: flex;
    border-radius: 30px;
    padding: 8px 0;
    background-color: #5e42b0;
    align-items: center;
    justify-content: center;
    }

    .buttons{
      padding-bottom: 20px;
    }

    .button_android{
      margin-bottom: 80px;
    }



    .button_apple, .footer_button_apple {
      margin-bottom: 14px;
    }

  .button_apple_svg, .button_android_svg{
    width: 24px;
    fill: white;
    margin-right: 10px;
  }

 .button_android_svg{
   margin-left: -17px;
  
 }

  .text_style_regular, .text_style_bold{
    color: white;
  }

 .text_style_regular{
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: left;

  }

  .text_style_bold{
    font-family: "Open Sans", Arial, sans-serif; 
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

.title_section_line_head{
  font-size: 5rem;
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 245px;
  margin-left: 51px;
  position: relative;
  display: block;
  

}

.title_section_line_head::after{
  background-image: url("../img/footballer_192.png");
  content: '';
  background-repeat: no-repeat;
  background-position: top center;
  width: 192px;
  left: 20px;
  height: 292px;
  padding-bottom: 5px;
  padding-top: 20px;
  position: absolute;
  display: flex;

          
}


.title_section_line_head1, .title_section_line_head2, .title_section_line_head3{
  color: #c1c1c1;
  position: relative;
  font-size: 2.3rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 89px;
  padding-top: 4px;
  margin-bottom: 25px;
}


.title_section_block1_line{
  background-color: #fafafa;
  
}

.title_section_block2_line{
  background-color: #f5f4f9;
  
}

.title_section_block3_line{
  background-color: #5e42b0;
  
}

.title_section_block1_line, .title_section_block2_line, .title_section_block3_line{
  padding-top: 75px;
}

.section_line_p1, .section_line_p2{
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
  padding-bottom: 56px;
  padding-left: 53px;
  padding-right: 20px;
}

.section_line_p3{
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  padding-bottom: 56px;
  padding-left: 53px;
  padding-right: 20px;
}

.title_section_line_head1::before{
  content: '01';
    position: absolute;
    font-size: 1.5rem;
    color: black;
    left: 55px;
    top: 6px;
    border-bottom: 4px solid #5e42b0;
}

.title_section_line_head2::before{
  content: '02';
  position: absolute;
  font-size: 1.5rem;
  color: black;
  left: 55px;
  top: 6px;
  border-bottom: 4px solid #5e42b0;
}

.title_section_line_head3::before{
  content: '03';
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  color: black;
  left: 55px;
  top: 6px;
  border-bottom: 4px solid white;
}

.title_section_line_head1, .title_block_section2, .title_section_line_head3 .title_section_line_head{
  position: relative;
}

.title_block_section2::after{
  background-image: url("../img/basketballer_302.png");
  content: '';
  background-repeat: no-repeat;
  background-position: top center;
  width: 295px;
  left: -32px;
  height: 248px;
  margin-top: 46px;
  position: absolute;
  display: flex;
  background-size: 91%;
  
  
}

.section3_title_h{
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #e7e7e7;
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 700;
  margin-left: 20px;
  padding-top: 37px;

}

.section3_p{
  font-size: 1.6rem;
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  color: black;
  padding: 25px 20px 70px;

}

.title_h_for_before1, .title_h_for_before2, .title_h_for_before3{
  position: relative;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}


.title_h_for_before1::before{
  content: '01';
  width: 69px;
  height: 69px;
  display: block;
  position: absolute;
  background-color: #5e42b0;
  top: -55px;
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;

}

.title_h_for_before1::after{
  content: '';
  display: inline-block;
  position: relative;
  top: -78px;
  left: -119px;
  width: 15px; 
  height: 4px; 
  background-color:  #8f7bc8;
  border-radius: 2px;
}

.title_h_for_before2::before{
  content: '02';
  width: 69px;
  height: 69px;
  display: block;
  position: absolute;
  background-color: #5e42b0;
  top: -55px;
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;
}

.title_h_for_before2::after{
  content: '';
  display: inline-block;
  position: relative;
  top: -77px;
  left: -187px;
  width: 15px; 
  height: 4px; 
  background-color: #8f7bc8;
  border-radius: 2px;
}

.title_h_for_before3::before{
  content: '03';
  width: 69px;
  height: 69px;
  display: block;
  position: absolute;
  background-color: #5e42b0;
  top: -55px;
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;
}

.title_h_for_before3::after{
  content: '';
  display: inline-block;
  position: relative;
  top: -77px;
  left: -99px;
  width: 15px; 
  height: 4px; 
  background-color: #8f7bc8;
  border-radius: 2px;
}

.footer{
  background-image: url("../img/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer::after {
  content: "";
  background-color: #1c1f40;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

.footer_content{
  position: relative;
  z-index: 1;
}

.footer_logosvg_top{
  width: 74px;
  height: 74px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 112px;
  display: block;
  background-color: #5e42b0;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(to bottom, #7555d5 0%,#51379c 100%);
}

.footer_svg_top{
  width: 54px; 
  padding: 10px;
  
}

.footer_title{
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

.footer_title_line1{
  font-size: 3.2rem;
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  color: white;
  margin-top: 57px;
}

.footer_title_line2{
  display: block;
  font-size: 1.4rem;
  font-family: "Open Sans", Arial, sans-serif; 
  font-weight: 400;
  text-transform: uppercase;
  color: #9b8ec1;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 73px;
}


.footer_logosvg_bottom{
  display: flex;
}

.footer_logo_bootom{
  margin-bottom: 0;
  
}

.footer_button_android{
  margin-bottom: 80px;
}

@media (min-width: 641px) and (max-width: 960px) {

  .header {
    background-image: url("../img/football_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header::after {
    content: "";
    background-color: #1c1f40;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
  }

  .header_logo{
    width: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 39px;
  }

  .header_title{
    color: #ffffff;
    margin-top: 272px;
    font-size: 6.4rem;
    display: block;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 87px;
  }
  
  .header_title_line1{
    margin-left: 91px;
  }
  
  .header_title_line2{
    margin-left: 200px;
    display: block; 
    }
  
    .buttons{
      display: flex;
      flex-wrap: wrap;
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 90px;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      
    }

    .button_android, .button_apple{
      margin:0;
      width: 311px;
      
    }
    
    .text_style_regular, .text_style_bold{
      font-size: 1.4rem;
    }

    .button_apple_svg, .button_android_svg{
      width: 38px;
      margin-right: 27px;
      
    }

    .title_section_line_head{
      font-size: 8rem;
      padding-top: 80px;
      padding-left: 282px;
      padding-right: 20px;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    .title_section_line_head1, .title_section_line_head2, .title_section_line_head3{
      font-size: 3.2rem;
      padding-left: 61px;
    }

    .section_line_p1, .section_line_p2{
      font-size: 1.6rem;
      padding-left: 20px;
    }

    .section_line_p3{
      font-size: 1.6rem;
      padding-left: 20px;
    }

    .title_section_block1_line{
      background-color: white;
      padding-top: 30px;
      padding-left: 254px;
    }

    .title_section_block2_line, .title_section_block3_line {
      padding-top: 30px;
      padding-left: 254px;
    }

    .block_section{
      position: relative;
    }

    .title_section_line_head::after{
      background-image: url("../img/footballer_497.png");
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 497px 699px;
      background-position: center center;
      background-size: cover;
      width: 497px;
      height: 699px;
      top:35px;
      left:-163px;
    }

    .block_section2{
      position: relative;
    }

    .block_section2::after{
      background-image: url("../img/basketballer_436.png");
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 436px 565px;
      background-position: center center;
      background-size: cover;
      width: 436px;
      height: 565px;
      top:-16px;
      right :0px;

    }

    .title_block_section2::after{   /* removed this block after problems with inheritance css from (block title_section_line_head) */
      display: none;
    }
 
    .title_block_section2{
      font-size: 8rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 53px;
    padding-top: 38px;
    }
    
    .title_section2_line_head1, .title_section2_line_head2, .title_section2_line_head3{
      font-size: 3.2rem;
      position: relative;
      padding-left: 59px;
      
    }
    
     .title_section2_block1_line{
      background-color: white;
      padding-top: 30px;
      padding-left: 33px;
      padding-right: 350px;
     }

     .title_section2_block2_line{
      padding-left: 33px;
      padding-right: 350px;
     }

     .title_section2_block3_line{
      padding-left: 33px;
      padding-right: 350px;
      background-color: #090c35;
     }

     .title_section_line_head3::before{
      content: '03';
      position: absolute;
      font-size: 1.8rem;
      color: #8765dd;
      left:  23px;
      top: 10px;
      border-bottom: 4px solid #efefef;
    }

    .title_section_line_head2::before{
      font-size: 1.8rem;
    }
    
    .title_section_line_head1::before, .title_section_line_head2::before{
      font-size: 1.8rem;
      width: 20px;
      left: 25px;
      top: 10px;
    }

    

    .title_h_for_before1::before, .title_h_for_before2::before, .title_h_for_before3::before{
      font-size: 2.4rem;
      width: 114px;
      height: 114px;
      line-height: 99px;
      margin-left: 9px;
      margin-top: -30px;
    }
     
    .title_h_for_before1::after{
      width: 28px;
      top: -137px;
      left: -364px;
      height: 4px; 
    }
    
    .title_h_for_before2::after{
      width: 28px;
      top: -135px;
      left: -562px;
      height: 4px; 
    }

    .title_h_for_before3::after{
      width: 28px;
      top: -136px;
      left: -309px;
      height: 4px; 
    }

    .section3_title_h{
      font-size: 8rem;
      margin-left: 40px;

    }

    .section3_p{
      font-size: 2.4rem;
      padding-bottom: 98px;
      margin-left: 40px;
    }

    .footer_title_line1{
      font-size: 8rem;
      
    }

    .footer_title_line2{
      font-size: 3.6rem;
    }

    .footer_buttons{
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      align-items: center;
      justify-content: center;
      margin-top: 280px;
    }

    .footer_svg_top{
      width: 95px;
      padding: 21px;
    }

    .footer_logosvg_top{
    width: 136px;
    height: 130px;
    border-radius: 30px;
    }

    .footer_button_android{
     margin: 0;
     width: 300px;
     height: 50px;
    }

    .footer_button_apple{
      width: 300px;
      margin: 0;
      margin-right: 28px;
      height: 50px;
    }

    .footer_logo_bootom{
      margin-top: 100px;
    }

    .footer_logosvg_bottom{
      margin-bottom: 20px;
    }

    .footer{
      background-image: url("../img/game_1280.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #000000;
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .footer::after {
      content: "";
      background-color: #1c1f40;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0.9;
    }

}

@media (min-width: 961px), (max-width: 1920){

  .header {
    background-image: url("../img/football_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header::after {
    content: "";
    background-color: #1c1f40;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
  }

  .header_title{
    display: block;
  }

  .header_logo{
    width: 184px;
    margin-top: 0px;
  }
 
  .header_title{
    
    margin-top: 291px;
    font-size: 9rem;
    margin-bottom: 213px;
  }

  .header_title_line1{
    margin-left: 8.33vw;
  }

  .header_title_line2{
    text-align: right;
    margin-right: 8.33vw;
  }

  .buttons{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 90px;
    align-items: center;
    justify-content: center;
   
  }

  .button_apple, .footer_button_apple, .button_android, .footer_button_android{
    width: 310px;
    height: 74px;
    margin:0;
    border-radius: 45px;
  }

  .button_apple, .footer_button_apple{
    margin-right: 53px;
  }

  .button_apple_svg, .button_android_svg{
    width: 60px;
    height: 63px;
  }

  .button_apple:hover, .button_android:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #51379c;
    }

    .footer_button_apple:hover, .footer_button_android:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #51379c;
    }

  .text_style_regular, .text_style_bold{
    font-size: 1.4rem;
  }

  .title_section_line_head::after{   /* скрыл футболиста сверху, сменю его привязку на секцию*/
    display: none;
  }

  .title_section_line_head{
    font-size: 8rem;
    margin-top: 100px;
    margin-bottom: 50px;
    
  }

  .title_section_line_head1, .title_section_line_head2, .title_section_line_head3 {
    font-size: 3.6rem;
  }
 
  .title_section_line_head1::before, .title_section_line_head2::before, .title_section_line_head3::before{    /* вернуться к этому для правки шрифта */
    font-size: 1.8rem;
    left:  3px;
    top: 14px;
  } 

  .title_section_line_head2::before, .title_section_line_head3::before{
    left: 3px;
    
  }

  .title_section2_line_head2::before, .title_section2_line_head3::before{
    top: 64px;
  }

  .section_line_p1, .section_line_p2, .section_line_p3{
    font-size: 2rem;
  }

  .title_section_block1_line{
    background-color: white;
    padding: 0;
  }

  .title_section_line_head, .section_line_p1, .section_line_p2, .section_line_p3, 
  .title_section_line_head1, .title_section_line_head2, .title_section_line_head3 {   /* исправляю ошибку с маргинами и позиционированием */
  margin-left: 0;
  padding-left: 0px;
  }

  .title_section_line_head1, .title_section_line_head2, .title_section_line_head3{
    padding-left: 40px;
  }

  .title_section_block1_line, .title_section_block2_line, .title_section_block3_line, .title_section_line_head{
    padding-left: 55%;
    padding-right: 8.33%;
  }

  .title_section_block3_line{
    padding-top: 55px;
  }

  .block_section{
    position: relative;
  }

  .block_section::after{
    background-image: url("../img/footballer_566.png");
    background-size: 100%;
    content: '';
    background-repeat: no-repeat;
    top: -92px;
    left: 20vw;
    width: 31.5vw;
    padding-bottom: 159%;
    position: absolute;
    max-width: 33vw;              /* стоит ли ширину указать */
  }

  .title_section2_block1_line, .title_section2_block2_line, .title_section2_block3_line, .title_block_section2{
    padding: 0;
    margin: 0;
  }

  .title_section2_block1_line, .title_section2_block2_line, .title_section2_block3_line, .title_block_section2{
    padding-right: 55%;
    padding-left: 8.33%;
  }

  .title_block_section2{
    margin-bottom: 50px;
    margin-top: 123px;

  }

  .title_section2_block3_line{
    background-color: #0a0e34;
  }

  .title_section_line_head3::before{
    color:  white;
  }

  .title_section2_line_head2, .title_section2_line_head3{
    padding-top: 56px;
    position: relative;
  }


  .players_style{
    position: relative;
    
  }
    
  .players_style::before{
    content: "";
    position: absolute;
    width: 55.6vw;
    top: -117px;
    left: 38%;
    padding-bottom: 121%;
    background-image: url(../img/basketballer_991.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 57vw;
    
  }


  .title_section3_block1_line{
    display: flex;
  }

 .photo_block_section_3, .ul_content{
   width: 50%;
   
 }

 .block_pic_css{
   display: flex;
   flex-direction: row-reverse;
 }

 .photo_block_section_3{
   display: block;
   
 }

 .title_h_for_before1, .title_h_for_before2, .title_h_for_before3{
   font-size: 8rem;
 }

 .section3_p{
   font-size: 2.4rem;
 }

 .footer_title_line1{
   font-size: 8rem;
 }

 .footer_title_line2{
   font-size: 3rem;
 }

 .footer_logosvg_top{
   margin:0;
 }

 .footer_title{
   margin-left: 0;
   margin-right: 0;
 }

 .footer_title{
   display: block;
   width: 665px;
   
 }

 .footer_parent_logo_title{
   display:flex;
   align-items: center;
   justify-content: center;
 }

 .section3_title_h, .section3_p{
   margin: 0;
   padding: 0;
 }

 .section3_title_h, .section3_p{
   
    padding-top: 214px;
    padding-right: 8.33%;
    padding-left: calc(83px + 4%);
 }

 .section3_p_reverse, .title_h_for_before2{
  padding-top: 214px;
  padding-left: 8.33%;
  padding-right: calc(83px + 4%);
}


 .section3_p{
   padding-top: 7%;
   padding-bottom: 220px;
   padding-left: 13.33%;
   padding-right: calc(83px + 4%);
 }

 .section3_p_reverse{
   padding-left: 8.33%;
 }

 .section3_title_h{
   position: static;

 }

 .title_section3_block1_line{
  position: relative;
 }

 .title_h_for_before1::before, .title_h_for_before2::before, .title_h_for_before3::before{
  width: 168px;
  height: 165px;
  top: 194px;
  left:calc(50% - 84px);
  font-size: 2.4rem;
  line-height: 143px;
  
 }

 .title_h_for_before1::after{
   top: 280px;
    left: calc(50% - 12px);
    width: 24px;
    position: absolute;
 }


 .title_h_for_before2::after, .title_h_for_before3::after{
  top: 280px;
  left: calc(50% - 12px);
  width: 26px;
  position: absolute;
 }

  /*далее footer */

 .footer_title_line1, .footer_title_line2{
   margin-top: 0;
   margin-bottom: 0;
 }

 .footer_parent_logo_title{
   margin-top: 250px;
   margin-bottom: 160px;
   display: flex;
 }

 .footer_buttons{
   margin-bottom: 250px;
 }

 .button_apple_svg{
   display: block;
 }

 .footer_logosvg_top{
   width: 140px;
   height: 140px;
   border-radius: 37px;
   margin-right: 35px;
 }

 .footer_svg_top{
  width: 101px;
  padding: 22px;
  height: 98px;
 }

 .footer_title_line2{
   margin: 0;
   text-align: left;
 }
  
 img{
   height: 100%;
   object-fit: cover;
 }
  

}
